<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443483280524-sh3j8il5t0ov5j0o1sq97d1gikabu9vs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443483280524-sh3j8il5t0ov5j0o1sq97d1gikabu9vs</string>
	<key>API_KEY</key>
	<string>AIzaSyBbDxQXkm5-crQ_SRtAwERval9Ecp73gjo</string>
	<key>GCM_SENDER_ID</key>
	<string>443483280524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notesApp</string>
	<key>PROJECT_ID</key>
	<string>notes-app-1d447</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-app-1d447.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443483280524:ios:d45f70f415c1447b0417a9</string>
</dict>
</plist>